<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>TDB web service</title>

    <link rel="stylesheet" type="text/css" href="/bootstrap.min.css">
    <link rel="stylesheet" href="/tdb-styles.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/jquery-2.1.0.min.js.download"></script>
</head>
<body>

   <div id="app" class="main">
    <transition name="slide-fade">

        <section id="cotacao" v-if="showResponseScreem == false">
            <form action="">
                <div class="container tdb-md-pad">
                    <header class="row">
                        <h2 class="col-sm-12 col-md-12 tdb-md-mar--bottom">Realizar Cotacão</h2>
                    </header>
    
                    <article class="tdb-md-mar--bottom">
                        <div class="row">
                            <h4 class="col-sm-12 col-md-12">Dados de acesso</h4>
                        </div>
                        
                        <div class="row">
                            <div class="col-xs-12 col-md-3">
                                <label>Login</label>
                                <input type="text" v-model="login" data-validations="[required, minDigit-8]" />
                            </div>
                            <div class="col-xs-12 col-md-3">
                                <label>Senha</label>
                                <input type="password" v-model="senha" data-validations="[required, minDigit-6]" />
                            </div>
                            
                            
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-md-3">
                                <label>CNPJ pagador</label>
                                <input type="text" v-model="cnpjPagador" />
                            </div>
                            
    
                            <!-- <div class="col-xs-12 col-md-3">
                                <label>Senha Pagador</label>
                                <input type="password" name="senhaPagador" />
                            </div> -->
                        </div>
                    </article>
    
                    <article class="tdb-md-mar--bottom">
                        <div class="row">
                            <h4 class="col-sm-12 col-md-12">Dados para cotação</h4>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-md-3">
                                <label>Cep de origem</label>
                                <input type="text" v-model="cepOrigem" class="cepMask" maxlength="9" data-validations="[required, minDigit-9]" @change="buscarCidade('origem')" />
                            </div>
                            <div class="col-xs-12 col-md-3">
                                <label>Cidade Origem</label>
                                <input type="text" v-model="cidadeCepOrigem" class="" maxlength="9" data-validations="[required, minDigit-9]" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-md-3">
                                <label>CEP destino</label>
                                <input type="text" v-model="cepDestino" maxlength="9" class="cepMask" data-validations="[required, minDigit-9]" @change="buscarCidade('destino')" />
                            </div>
                            <div class="col-xs-12 col-md-3">
                                <label>Cidade Destino</label>
                                <input type="text" v-model="cidadeCepDestino" maxlength="9" class="" data-validations="[required, minDigit-9]"  />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-md-3">
                                <label>CNPJ do destinatário</label>
                                <input type="text" v-model="cnpjDestinatario" data-validations="[required]" />
                            </div>
                            <div class="col-xs-12 col-md-3">
                                <label>Valor nota fiscal</label>
                                <input type="text" class="maskMoney" name="valorNF" data-validations="[required]" />
                            </div>
                        </div>

                        <div class="row">
                            <h4 class="col-sm-12 col-md-12">Calcular Cubagem</h4>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 col-md-3">
                                <label>Quantidade de volumes</label>
                                <input type="number" v-model="quantidade" value="0" min="0" data-validations="[required]" @change="limparCampoVolume()" />
                            </div>
                            
                            <div class="col-xs-12 col-md-3">
                                <label>Peso (cada ítem)</label>
                                <input type="number" v-model="peso" value="0" min="0" data-validations="[required]" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-md-3">
                                <label>Altura (cm)</label>
                                <input type="text" v-model="altura" @change="limparCampoVolume()" data-validations="[required]" />
                            </div> 
                            <div class="col-xs-12 col-md-3">
                                <label>Largura (cm)</label>
                                <input type="text" v-model="largura" @change="limparCampoVolume()" data-validations="[required]" />
                            </div> 
                            <div class="col-xs-12 col-md-3">
                                <label>Profundidade (cm)</label>
                                <input type="text" v-model="profundidade" @change="limparCampoVolume()" data-validations="[required]" />
                            </div> 
                            <div class="col-xs-12 col-md-3">
                                <a href="javascript:;" id="btn-calcular-cubagem" @click="calcularCubagem()">Calcular Cubagem</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-md-2">
                                <label>Volume (cm3)</label>
                                <input type="text" v-model="volume" data-validations="[required]" readonly />
                            </div> 
                        </div>
                    </article>
    
                    <article class="tdb-md-mar--bottom">
                        <!-- <div class="row">
                            <h4 class="col-sm-12 col-md-12">Dados Adicionais</h4>
                        </div> -->
                        <div class="row">
                            <!-- <div class="col-xs-12 col-md-3">
                                <label>cnpj do Remetente</label>
                                <input type="text" name="cnpjRemetente" />
                            </div> -->
                            <!-- <div class="col-xs-12 col-md-3">
                                <label>CNPJ do destinatário</label>
                                <input type="text" v-model="cnpjDestinatario" />
                            </div> -->
                        </div>
                        <!-- <div class="row">
                            <div class="col-xs-12 col-md-3">
                                <label>Observação</label>
                                <textarea type="text" name="observacao"></textarea>
                            </div>
                        </div> -->
                    </article>
    
                    <section>
                        <div class="row">
                            <a href="javascript:;" class="btn btn-primary" @click="cotar()">Cotar</a>
                        </div>
                    </section>
                </div>
            </form>
        </section>
    </transition>

    <transition name="slide-fade">
        <section id="responseContacao" v-if="showResponseScreem">
            <div class="container tdb-md-pad">
                <header class="row">
                    <h2 class="col-sm-12 col-md-12 tdb-md-mar--bottom">Resultado</h2>
                </header>
                <div class="row">
                    <div class="col-sm-12 col-md-12 tdb-md-mar--bottom">
                        <h4 class="col-sm-12 col-md-12">Valor Frete</h4>
                        <h5 class="col-sm-12 col-md-12 color-purple">{{ valorFrete }}</h5>
                    </div>
                    <div class="col-sm-12 col-md-12 tdb-md-mar--bottom">
                        <h4 class="col-sm-12 col-md-12">Peso Calculo</h4>
                        <h5 class="col-sm-12 col-md-12 color-purple">{{ pesoCalculo }}</h5>
                    </div>
                    <div class="col-sm-12 col-md-12">
                        <h4 class="col-sm-12 col-md-12">Prazo previsto</h4>
                        <h5 class="col-sm-12 col-md-12 color-purple">{{prazo }} dias úteis</h5>
                    </div>
                </div>
                <div class="row tdb-xl-mar--top">
                    <a href="javascript:;" class="btn btn-primary" @click="voltar()">nova cotação</a>
                </div>
            </section>
    
            </div>
            
        </section>
    </transition>
   </div> 
    
<script src="/script_views.js"></script>
<script src="/formValidations.js"></script>

</body>
</html>


