<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>TDB web service</title>

    <link rel="stylesheet" type="text/css" href="/bootstrap.min.css">
    <link rel="stylesheet" href="/tdb-styles.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/jquery-2.1.0.min.js.download"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>

</head>
<body>

   <div id="app" class="main">
    <transition name="slide-fade">

        <section id="cotacao" v-if="showResponseScreem == false && showHide.showColetaError== false">
                <div class="container tdb-md-pad">
                    <header class="row">
                        <h2 class="col-sm-12 col-md-12">Solicitação de Coleta</h2>
                        <small class="obs tdb-md-mar--bottom">Obs: Campos com * são obrigatórios.</small>
                    </header>
    
                    <article id="dados-acesso" v-if="showHide.dadosAcessoShow" class="tdb-md-mar--bottom">
                        <div class="row">
                            <h4 class="col-sm-12 col-md-12">Dados de acesso</h4>
                        </div>
                        
                        <div class="row">
                            <div class="col-xs-12 col-md-3">
                                <label>CNPJ / CPF *</label>
                                <input type="text" maxlength="15" v-model="formParams.cnpjPagador" class="cnpj" placeholder="cnpj" data-validations="[required]" />
                            </div>
                            
                            <div class="col-xs-12 col-md-3">
                                <label>Senha *</label>
                                <input type="password" v-model="formParams.senhaPagador" data-validations="[required]" />
                            </div>
                            <div class="col-xs-12 col-md-3">
                                <label>Tipo de Coleta</label>
                                <select v-model="formParams.tipoPagamento" data-validations="[required]">
                                    <option value="">Selecionar</option>
                                    <option value="O">CIF (remetente é o pagador)</option>
                                    <option value="D">FOB (destinatário é o pagador)</option>
                                </select>
                            </div>
                        </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-12 tdb-md-mar--top">
                                    <a href="javascript:;" class="btn btn-primary" @click="continuar()">Continuar</a>
                                </div>
                            </div>

                    </article>
                    
                    <transition name="slide-fade">
                        <div id="dados-cotacao" v-if="showHide.dadosAcessoShow==false && showResponseScreem==false && showHide.showColetaError== false">
                            <article id="dados-pessoais" class="tdb-md-mar--bottom">
                                <div class="row">
                                    <h4 class="col-sm-12 col-md-12">Dados do remetente</h4>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-md-3" v-if = "formParams.tipoPagamento =='O'">
                                        <div>
                                            <label>Razão social / Nome *</label>
                                            <input type="text" maxlength="65" v-model="formParams.nome" class="" data-validations="[required, minDigit-3]" />
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-md-3">
                                        <label>CNPJ / CPF *</label>
                                        <input type="text" v-model="formParams.cnpjPagadorOrigem" class="cnpj" data-validations="[required, minDigit-3]" />
                                    </div>
                                    <div class="col-xs-12 col-md-3">
                                        <label>E-mail *</label>
                                        <input type="text" v-model="formParams.email" maxlength="45" data-validations="[required, minDigit-3]" />
                                    </div>
                                </div>
                            </article>
        
                            <article id="endereco-coleta" class="tdb-md-mar--bottom">
                                <!--Endereço aparace somente no caso de tipo pagamento FOB-->
                                <div v-if ="formParams.tipoPagamento == 'D'">

                                    <div class="row">
                                        <h4 class="col-sm-12 col-md-12">Endereço de coleta</h4>
                                    </div>
                                    <div class="endereco">
                                        <div class="row">
                                            <div class="col-xs-12 col-md-3">
                                                <label>Cep de origem (coleta) *</label>
                                                <input type="text" v-model="formParams.cepOrigem" class="cep" maxlength="9" data-validations="[required, minDigit-3]" @change="buscarCidade('origem')" />
                                            </div>
                                            <div class="col-xs-12 col-md-7">
                                                <label>Endereço</label>
                                                <input type="text" v-model="formParams.enderecoCepOrigem" maxlength="50" data-validations="[minDigit-3]" />
                                            </div>
                                            <div class="col-xs-12 col-md-2">
                                                <label>Número *</label>
                                                <input type="text" min="0" v-model="formParams.numeroCepOrigem" maxlength="6" class="maskNumber" data-validations="[required]" />
                                            </div>
                                        </div>
                                        
                                        <div class="row">
                                            <div class="col-xs-12 col-md-3">
                                                <label>Complemento</label>
                                                <input type="text" v-model="formParams.complementoCepOrigem" maxlength="20" />
                                            </div>
                                            <div class="col-xs-12 col-md-4">
                                                <label>Bairro</label>
                                                <input type="text" v-model="formParams.bairroCepOrigem" maxlength="30" />
                                            </div>
                                            <div class="col-xs-12 col-md-3">
                                                <label>Cidade</label>
                                                <input type="text" v-model="formParams.cidadeCepOrigem" maxlength="40" />
                                            </div>
                                            <div class="col-xs-12 col-md-2">
                                                <label>UF</label>
                                                <input type="text" v-model="formParams.estadoCepOrigem" maxlength="2" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-md-2">
                                        <label>Número NF</label>
                                        <input type="text" v-model="formParams.numeroNF" maxlength="17" class="" data-validations="" />
                                    </div>
                                    <div class="col-xs-12 col-md-2">
                                        <label>Valor</label>
                                        <input type="text" name="valorCarga" maxlength="17" class="maskMoney" />
                                    </div>
                                    <div class="col-xs-12 col-md-1">
                                        <label>Qnt *</label>
                                        <input type="number" min="0" v-bind:disabled="showHide.showCubagem" type="text" v-model="formParams.quantidade" maxlength="6" />
                                    </div>
                                    <div class="col-xs-12 col-md-2">
                                        <label>Peso (KG) *</label>
                                        <input type="number" min="0" v-model="formParams.peso" class="peso" maxlength="6" />
                                    </div>
                                    <div class="col-xs-12 col-md-2">
                                        <label>M³</label>
                                        <input type="number" min="0" v-bind:disabled="showHide.showCubagem" v-model="formParams.volume" maxlength="7" />
                                    </div> 
                                    <div v-if="!showHide.showCubagem" class="col-xs-12 col-md-3">
                                        <a href="javascript:;" id="btn-calcular-cubagem" @click="abrirBlocoCubagem()">Calcular Cubagem</a>
                                    </div>
                                    <div v-else class="col-xs-12 col-md-3">
                                        <a href="javascript:;" id="btn-calcular-cubagem" @click="abrirBlocoCubagem()">fechar Cálculo Cubagem</a>
                                    </div>
                                </div>
        
                                <transition name="slide-fade">
                                    <div v-show="showHide.showCubagem" id="container__calcular-cubagem" class="col-xs-12 col-md-12">
                                        <div  class="row linha-calculo__cubagem">
                                            <div class="col-xs-12 col-md-2">
                                                <label>Altura (cm)</label>
                                                <input type="number" min="0" class="altura" maxlength="7" data-validations="[required]" />
                                            </div> 
                                            <div class="col-xs-12 col-md-2">
                                                <label>Largura (cm)</label>
                                                <input type="number" min="0" class="largura"maxlength="7"  data-validations="[required]" />
                                            </div> 
                                            <div class="col-xs-12 col-md-3">
                                                <label>Profundidade (cm)</label>
                                                <input type="number" min="0" class="profundidade" maxlength="7" data-validations="[required]" />
                                            </div> 
                                            <div class="col-xs-12 col-md-2">
                                                <label>Quantidade</label>
                                                <input type="number" min="0" class="quantidade" maxlength="7" data-validations="[required]" />
                                            </div>
                                            <div class="col-xs-12 col-md-3">
                                                <a href="javascript:;" id="btn-adicionar-linha" @click="adicionarLinha()">Adicionar linha</a>
                                            </div>
                                        </div>
                                        <div v-for="n in qntLinhasCubagem" class="row linha-calculo__cubagem" v-bind:data-index="n" ref="line">
                                            <div class="col-xs-12 col-md-2">
                                                <label>Altura (cm)</label>
                                                <input type="number" min="0" class="altura" maxlength="7" data-validations="[required]" />
                                            </div> 
                                            <div class="col-xs-12 col-md-2">
                                                <label>Largura (cm)</label>
                                                <input type="number" min="0" class="largura" maxlength="7" data-validations="[required]" />
                                            </div> 
                                            <div class="col-xs-12 col-md-3">
                                                <label>Profundidade (cm)</label>
                                                <input type="number" min="0" class="profundidade" maxlength="7" data-validations="[required]" />
                                            </div> 
                                            <div class="col-xs-12 col-md-2">
                                                <label>Quantidade</label>
                                                <input type="number" min="0" class="quantidade" maxlength="7" data-validations="[required]" />
                                            </div>
                                            <div class="col-xs-12 col-md-3">
                                                <a href="javascript:;" id="btn-deletar-linha" @click="deletarLinha(n)">remover</a>
                                            </div>
                                        </div>
                                        
                                        <div v-show="true" class="row">
                                            <div class="col-xs-12 col-md-3">
                                                <a href="javascript:;" id="btn-calcular-cubagem" @click="calcularCubagem()">Calcular</a>
                                            </div>
                                        </div>
                                            <div class="row volumeCalculado__container"  style="display:none">
                                                <div class="col-xs-12 col-md-2">
                                                    <label>M3 (cm³)</label><!-- alt 252-->
                                                    <input type="number" min="0" v-model="formParams.volumeCalculado" readonly data-validations="[required]"  />
                                                </div> 
                                            </div>
                                        
                                    </div>
                                </transition>

                                <div class="row">
                                    <div class="col-xs-12 col-md-4">
                                        <label>Observação</label>
                                        <textarea v-model="formParams.observacao" maxlength="240" ></textarea>
                                    </div>
                                    
                                </div>
        
                                
                            </article>
        
                            <!-- <article class="tdb-md-mar--bottom">
                                <div class="row">
                                    <h4 class="col-sm-12 col-md-12">Dados do destinatário</h4>
                                </div>
                                <div class="endereco">
                                    <div class="row">
                                        <div class="col-xs-12 col-md-2">
                                            <label>CEP de destino *</label>
                                            <input type="text" v-model="formParams.cepDestinatario" class="cep" data-validations="[required, minDigit-3]" @change="buscarCidade('destino')" />
                                        </div>
                                        <div class="col-xs-12 col-md-4">
                                            <label>CNPJ / CPF - Destinatário</label>
                                            <input type="text" v-model="formParams.cnpjDestinatario" class="cnpj" />
                                        </div>
                                        <div class="col-xs-12 col-md-5">
                                            <label>Endereço </label>
                                            <input type="text" v-model="formParams.enderecoDestinatario" maxlength="50" />
                                        </div>
                                        <div class="col-xs-12 col-md-1">
                                            <label>Número </label>
                                            <input type="text" min="0" v-model="formParams.numeroDestinatario" class="maskNumber" maxlength="6" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 col-md-3">
                                            <label>Complemento </label>
                                            <input type="text" v-model="formParams.complementoDestinatario" maxlength="20" />
                                        </div>
                                        <div class="col-xs-12 col-md-5">
                                            <label>Bairro </label>
                                            <input type="text" v-model="formParams.bairroDestinatario" maxlength="30" />
                                        </div>
                                        <div class="col-xs-12 col-md-3">
                                            <label>Cidade </label>
                                            <input type="text" v-model="formParams.cidadeDestinatario" maxlength="40" />
                                        </div>
                                        <div class="col-xs-12 col-md-1">
                                            <label>UF</label>
                                            <input type="text" v-model="formParams.estadoDestinatario" maxlength="2" />
                                        </div>
                                    </div>
                                </div>
                                
        
                                
                            </article> -->
            
                            <section>
                                <div class="tdb-txt-align-R tdb-md-mar--top">
                                    <a href="javascript:;" class="btn btn-secundary tdb-sm-mar--right" @click="voltar('dadosColeta')">voltar</a>
                                    <a href="javascript:;" class="btn btn-primary" @click="coletar()">Coletar</a>
                                </div>
                            </section>
                        </div>
                        </transition>
                    
                </div>
        </section>
    </transition>

    <!--resultado Coleta-->
    <transition name="slide-fade">
        <section id="responseColeta" v-if="showResponseScreem == true && showHide.showColetaError == false">
            <div class="container tdb-md-pad">
                <header class="row">
                    <h2 class="col-sm-12 col-md-12 tdb-md-mar--bottom">Solicitação realizada com sucesso!</h2>
                </header>
                <div class="row">
                    <div class="col-sm-12 col-md-12 tdb-md-mar--bottom">
                        <h4 class="col-sm-12 col-md-12">Número da Coleta</h4>
                        <h5 class="col-sm-12 col-md-12 color-purple">{{ numeroColeta }}</h5>
                    </div>
                </div>

                <div class="row tdb-xl-mar--top btns-result__container">
                    <a href="javascript:;" class="btn btn-secundary" @click="voltar('resultadoColeta')">nova coleta</a>
                </div>
    
            </div>
            
        </section>
    </transition>

    

    <!-- coleta error-->
    <transition name="slide-fade">
        <section id="error-cotacao" v-if="showHide.showColetaError">
            <div class="container tdb-md-pad">
                <header class="row">
                    <h2 class="col-sm-12 col-md-12">Atenção: Algo deu errado!</h2>
                    <h4 class="col-sm-12 col-md-12 tdb-md-mar--bottom">{{ errorMessages.coleta }}</h4>
                </header>
                
                <div class="row tdb-xl-mar--top btns-result__container">
                    <a href="javascript:;" class="btn btn-secundary" @click="voltar('coletaError')">Tentar novamente</a>
                    <!-- <a href="javascript:;" class="btn btn-primary" click="window.parant.closeModal()">Fechar</a> -->
                </div>
    
            </div>
            
        </section>
    </transition>
    <!--coleta realizada com sucesso-->

   </div> 
    
<script src="/scriptViewColeta.js"></script>
<script src="/formValidations.js"></script>

<script>

    function limparCampos(){
        $("input").val("");
    }

    $(document).ready(function(){
        $(".telefone").mask("(00) 0000-0000");
        $(".celular").mask("(00) 0000-00000");
        $(".maskDate").mask("00/00/0000");
        $(".maskNumber").mask("000000");
        $(".cnpj").mask("000000000000000");
        $(".cep").mask("00000-000");

    })
</script>

</body>
</html>


